<%- include('header') %>


    <!-- Start Page Title -->
    <!-- <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>

        <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
        <div class="shape6 rot`ateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div> -->
    <!-- End Page Title -->

    <!-- Start About Area -->
    <div class="about-area ptb-80">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="ml-about-img">
                        <img src="assets/img/about-img.jpg" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="ml-about-content">
                        <span class="sub-title">About Us</span>
                        <h2>Congnnox delivers high-end IT solutions to businesses.</h2>
                        <div class="bar"></div>
                        <p> We provide best class web solutions for your business that helps you to achieve your ventures.</p>
                        <p>Cognnox may be a Leading Website Design Company in Abohar,India. Our team members have worked with various successful startups and large-scale enterprise to supply best IT solutions for various industries and supply a good range
                            of Creative and Technical Web Solutions.We believe optimizing the business process by continuously learning the maximum amount as possible. We approach each customer with a vision of a long-term relationship and believe providing
                            quality work whenever . We identify customer’s specific needs, determine strategies and develop solutions to make sure that the top result's quite satisfactory.
                        </p>

                        <a href="#" class="btn btn-secondary">Discover More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="about-inner-area">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="about-text">
                            <h3>Our History</h3>
                            <p>Cognnox was started within the year 2017 by a gorup of young entrepreneures who are commited to satisfy the goals of clients.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="about-text">
                            <h3>Our Mission</h3>
                            <p>Customer satisfaction is our top priority and that we are fully dedicated thereto . Our teams specially engage with our clients and check out to know your business goals & objectives and supply specific solutions to your business
                                concerns. We boast of our relationship with our clients and nourish the connection even after the business requirement is fulfilled.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                        <div class="about-text">
                            <h3>Who we are</h3>
                            <p>Cognnox Web Services in Abohar is most economical, low-cost, and outstanding web designing company.We design Websites, Custom Web Applications Android and IOS mobile apps, Blockchians websites, Flutter and Internet of Things
                                at the simplest possible price.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->

    <!-- Start Team Area -->
    <!-- <div class="team-area ptb-80 bg-f9f6f6">
        <div class="container">
            <div class="section-title">
                <h2>Our Awesome Team</h2>
                <div class="bar"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>

        <div class="team-slides owl-carousel owl-theme">
            <div class="single-team">
                <div class="team-image">
                    <img src="assets/img/team-image/1.jpg" alt="image">
                </div>

                <div class="team-content">
                    <div class="team-info">
                        <h3>Josh Buttler</h3>
                        <span>CEO & Founder</span>
                    </div>

                    <ul>
                        <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
                    </ul>

                    <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                </div>
            </div>

            <div class="single-team">
                <div class="team-image">
                    <img src="assets/img/team-image/2.jpg" alt="image">
                </div>

                <div class="team-content">
                    <div class="team-info">
                        <h3>Alex Maxwel</h3>
                        <span>Marketing Manager</span>
                    </div>

                    <ul>
                        <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
                    </ul>

                    <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                </div>
            </div>

            <div class="single-team">
                <div class="team-image">
                    <img src="assets/img/team-image/3.jpg" alt="image">
                </div>

                <div class="team-content">
                    <div class="team-info">
                        <h3>Janny Cotller</h3>
                        <span>Web Developer</span>
                    </div>

                    <ul>
                        <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
                    </ul>

                    <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                </div>
            </div>

            <div class="single-team">
                <div class="team-image">
                    <img src="assets/img/team-image/4.jpg" alt="image">
                </div>

                <div class="team-content">
                    <div class="team-info">
                        <h3>Jason Statham</h3>
                        <span>UX/UI Designer</span>
                    </div>

                    <ul>
                        <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
                    </ul>

                    <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                </div>
            </div>

            <div class="single-team">
                <div class="team-image">
                    <img src="assets/img/team-image/5.jpg" alt="image">
                </div>

                <div class="team-content">
                    <div class="team-info">
                        <h3>Corey Anderson</h3>
                        <span>Project Manager</span>
                    </div>

                    <ul>
                        <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
                    </ul>

                    <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                </div>
            </div>

            <div class="single-team">
                <div class="team-image">
                    <img src="assets/img/team-image/1.jpg" alt="image">
                </div>

                <div class="team-content">
                    <div class="team-info">
                        <h3>Josh Buttler</h3>
                        <span>CEO & Founder</span>
                    </div>

                    <ul>
                        <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
                    </ul>

                    <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                </div>
            </div>

            <div class="single-team">
                <div class="team-image">
                    <img src="assets/img/team-image/2.jpg" alt="image">
                </div>

                <div class="team-content">
                    <div class="team-info">
                        <h3>Alex Maxwel</h3>
                        <span>Marketing Manager</span>
                    </div>

                    <ul>
                        <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
                    </ul>

                    <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                </div>
            </div>

            <div class="single-team">
                <div class="team-image">
                    <img src="assets/img/team-image/3.jpg" alt="image">
                </div>

                <div class="team-content">
                    <div class="team-info">
                        <h3>Janny Cotller</h3>
                        <span>Web Developer</span>
                    </div>

                    <ul>
                        <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
                    </ul>

                    <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                </div>
            </div>

            <div class="single-team">
                <div class="team-image">
                    <img src="assets/img/team-image/4.jpg" alt="image">
                </div>

                <div class="team-content">
                    <div class="team-info">
                        <h3>Jason Statham</h3>
                        <span>UX/UI Designer</span>
                    </div>

                    <ul>
                        <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
                    </ul>

                    <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                </div>
            </div>

            <div class="single-team">
                <div class="team-image">
                    <img src="assets/img/team-image/5.jpg" alt="image">
                </div>

                <div class="team-content">
                    <div class="team-info">
                        <h3>Corey Anderson</h3>
                        <span>Project Manager</span>
                    </div>

                    <ul>
                        <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
                    </ul>

                    <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Team Area -->

    <!-- Start ML Feedback Area -->
    <!-- <div class="ml-feedback-area ptb-80">
        <div class="container">
            <div class="section-title">
                <h2>Our Clients Feedback</h2>
                <div class="bar"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="ml-feedback-slides owl-carousel owl-theme">
                <div class="single-ml-feedback-item">
                    <div class="client-info">
                        <img src="assets/img/client-image/1.jpg" alt="image">
                        <h3>Sarah Taylor</h3>
                        <span>CEO at Envato</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>
                    <div class="rating">
                        <i data-feather="star"></i>
                        <i data-feather="star"></i>
                        <i data-feather="star"></i>
                        <i data-feather="star"></i>
                        <i data-feather="star"></i>
                    </div>
                </div>

                <div class="single-ml-feedback-item">
                    <div class="client-info">
                        <img src="assets/img/client-image/3.jpg" alt="image">
                        <h3>Steven Smith</h3>
                        <span>CEO at Envato</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>
                    <div class="rating">
                        <i data-feather="star"></i>
                        <i data-feather="star"></i>
                        <i data-feather="star"></i>
                        <i data-feather="star"></i>
                        <i data-feather="star"></i>
                    </div>
                </div>

                <div class="single-ml-feedback-item">
                    <div class="client-info">
                        <img src="assets/img/client-image/2.jpg" alt="image">
                        <h3>James Eva</h3>
                        <span>CEO at Envato</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>
                    <div class="rating">
                        <i data-feather="star"></i>
                        <i data-feather="star"></i>
                        <i data-feather="star"></i>
                        <i data-feather="star"></i>
                        <i data-feather="star"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div> -->
    <!-- End ML Feedback Area -->

    <!-- Start Fun Facts Area -->

    <!-- End Fun Facts Area -->

    <!-- Start ML Partner Area -->

    <!-- End ML Partner Area -->


    <%- include('footer') %>