<%- include('header') %>
    <!-- Start ML Main Banner -->
    <div class="ml-main-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="ml-banner-content">
                        <h1>Android Apps Development </h1>
                        <p>Our Android mobile apps developers make beautiful, interactive mobile applications that open up engaging chances for users to interact with your business brand. This increases recognized value of your brand, and establish that
                            you are at the cutting edge of your market.With 5+ years of experience, our Android Apps development Bangalore Team has seen huge growth due to companies like yours, who are looking to developing an mobile application where
                            you can engage with your consumers, increase brand loyalty, and get valuable & targeted customer data</p>

                        <a href="#" class="btn btn-secondary">Get Started</a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="ml-banner-image">
                        <img src="assets/img/ml-banner-image/1.png" class="wow fadeIn" data-wow-delay="2s" alt="image">
                        <img src="assets/img/ml-banner-image/2.png" class="wow fadeInUp" data-wow-delay="1s" alt="image">
                        <img src="assets/img/ml-banner-image/3.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image">
                        <img src="assets/img/ml-banner-image/4.png" class="wow fadeInUp" data-wow-delay="2s" alt="image">
                        <img src="assets/img/ml-banner-image/5.png" class="wow fadeInDown" data-wow-delay="2.5s" alt="image">
                        <img src="assets/img/ml-banner-image/6.png" class="wow fadeInDown" data-wow-delay="1.9s" alt="image">
                        <img src="assets/img/ml-banner-image/7.png" class="wow fadeInDown" data-wow-delay="2.1s" alt="image">
                        <img src="assets/img/ml-banner-image/8.png" class="wow fadeInDown" data-wow-delay="1.9s" alt="image">
                        <img src="assets/img/ml-banner-image/9.png" class="wow fadeInDown" data-wow-delay="1.7s" alt="image">
                        <img src="assets/img/ml-banner-image/10.png" class="wow fadeInDown" data-wow-delay="1.5s" alt="image">
                        <img src="assets/img/ml-banner-image/11.png" class="wow fadeInUp" data-wow-delay="0.4s" alt="image">
                        <img src="assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image">
                    </div>
                </div>
            </div>
        </div>

        <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div>
    <!-- End ML Main Banner -->

    <!-- Start ML Partner Area -->
    <!-- <div class="ml-partner-area mt-minus-top ptb-80 pb-0">
    <div class="container">
        <div class="partner-slides owl-carousel owl-theme">
            <div class="single-ml-partner">
                <a href="#">
                    <img src="assets/img/partner-img/partner-1.png" alt="image">
                    <img src="assets/img/partner-img/partner-hover1.png" alt="image">
                </a>
            </div>

            <div class="single-ml-partner">
                <a href="#">
                    <img src="assets/img/partner-img/partner-2.png" alt="image">
                    <img src="assets/img/partner-img/partner-hover2.png" alt="image">
                </a>
            </div>

            <div class="single-ml-partner">
                <a href="#">
                    <img src="assets/img/partner-img/partner-3.png" alt="image">
                    <img src="assets/img/partner-img/partner-hover3.png" alt="image">
                </a>
            </div>

            <div class="single-ml-partner">
                <a href="#">
                    <img src="assets/img/partner-img/partner-10.png" alt="image">
                    <img src="assets/img/partner-img/partner-hover10.png" alt="image">
                </a>
            </div>

            <div class="single-ml-partner">
                <a href="#">
                    <img src="assets/img/partner-img/partner-5.png" alt="image">
                    <img src="assets/img/partner-img/partner-hover5.png" alt="image">
                </a>
            </div>

            <div class="single-ml-partner">
                <a href="#">
                    <img src="assets/img/partner-img/partner-6.png" alt="image">
                    <img src="assets/img/partner-img/partner-hover6.png" alt="image">
                </a>
            </div>

            <div class="single-ml-partner">
                <a href="#">
                    <img src="assets/img/partner-img/partner-7.png" alt="image">
                    <img src="assets/img/partner-img/partner-hover7.png" alt="image">
                </a>
            </div>
        </div>
    </div>
</div> -->
    <!-- End ML Partner Area -->

    <!-- Start Our Solutions Area -->
    <div class="solutions-area ptb-80">
        <div class="container">
            <div class="section-title">
                <!-- <span class="sub-title">What We Offer</span> -->
                <h2>Our Different Development</h2>
                <div class="bar"></div>
                <p>our team creates websites with the utilization of various quite languages.</p>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-solutions-box">
                        <div class="icon">
                            <img src="assets/img/icon4.png" alt="image">
                        </div>
                        <h3><a href="#">Mobile Applications Design</a></h3>
                        <p>Our team creates websites in world's hottest website builder WORDPRESS. 40% of web built on WordPress.</p>
                        <a href="#" class="learn-more-btn"><i data-feather="plus-circle"></i> Learn More</a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-solutions-box">
                        <div class="icon">
                            <img src="assets/img/icon5.png" alt="image">
                        </div>
                        <h3><a href="#">iPhone IOS application </a></h3>
                        <p>The front-end developer is liable for creating the design , feel, and interactive components of an internet site .</p>
                        <a href="#" class="learn-more-btn"><i data-feather="plus-circle"></i> Learn More</a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-solutions-box">
                        <div class="icon">
                            <img src="assets/img/icon6.png" alt="image">
                        </div>
                        <h3><a href="#">iPad Application Development </a></h3>
                        <p>A back-end developer writes what's called server-side code to form sure data flows back and forth from a website’s front-end to the back-end.</p>
                        <a href="#" class="learn-more-btn"><i data-feather="plus-circle"></i> Learn More</a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-solutions-box">
                        <div class="icon">
                            <img src="assets/img/icon7.png" alt="image">
                        </div>
                        <h3><a href="#">Phonegap Applications</a></h3>
                        <p>They can literally create a whole functioning, dynamic website themselves as they understand both ends of web development.</p>
                        <a href="#" class="learn-more-btn"><i data-feather="plus-circle"></i> Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div>
    <!-- End Our Solutions Area -->

    <!-- Start ML About Area -->






    <!-- Start Blog Area -->
    <!-- <div class="blog-area ptb-80">
        <div class="container">
            <div class="section-title">
                <h2>Our Recent Story</h2>
                <div class="bar"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post-box">
                        <div class="entry-thumbnail">
                            <a href="#"><img src="assets/img/blog-image/9.jpg" alt="image"></a>
                        </div>

                        <div class="entry-post-content">
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#">Admin</a></li>
                                    <li>August 15, 2019</li>
                                </ul>
                            </div>

                            <h3><a href="#">Making Peace With The Feast Or Famine Of Freelancing</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                            <a href="#" class="learn-more-btn">Read Story <i data-feather="plus"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post-box">
                        <div class="entry-thumbnail">
                            <a href="#"><img src="assets/img/blog-image/10.jpg" alt="image"></a>
                        </div>

                        <div class="entry-post-content">
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#">Admin</a></li>
                                    <li>August 18, 2019</li>
                                </ul>
                            </div>

                            <h3><a href="#">I Used The Web For A Day On A 50 MB Budget</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                            <a href="#" class="learn-more-btn">Read Story <i data-feather="plus"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                    <div class="single-blog-post-box">
                        <div class="entry-thumbnail">
                            <a href="#"><img src="assets/img/blog-image/11.jpg" alt="image"></a>
                        </div>

                        <div class="entry-post-content">
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#">Admin</a></li>
                                    <li>August 15, 2019</li>
                                </ul>
                            </div>

                            <h3><a href="#">Here are the 5 most telling signs of micromanagement</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                            <a href="#" class="learn-more-btn">Read Story <i data-feather="plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div> -->
    <!-- End Blog Area -->





    <%- include('footer') %>