<%- include('header') %>



    <!-- Start Main Banner Area -->
    <div class="">
        <div class="page-title-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <h2>Types of Blockchain</h2>
                    </div>
                </div>
            </div>
            <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
            <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
            <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
            <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
            <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
            <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
            <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
            <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        </div>



        <div class="mt-2">
            <div class="container">
                <div class="row">


                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-banner-boxes">
                            <div class="icon">
                                <i data-feather="server"></i>
                            </div>
                            <h3>Public Blockchain</h3>
                            <p>Public Blockchain allows anyone to hitch the network. it's permission less and doesn't have one entity to regulate the network. Data is secured because it doesn't allow modification, once validated on the Blockchain. the simplest
                                samples of Blockchain are Bitcoin and Ethereum.

                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-banner-boxes">
                            <div class="icon">
                                <i data-feather="code"></i>
                            </div>
                            <h3>Private Blockchain</h3>
                            <p>Private Blockchain works on access control which suggests only selected people can participate in it. The network is controlled by one or more entities. hooked in to the third party to transact. The participants have information
                                about transactions and history.

                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                        <div class="single-banner-boxes">
                            <div class="icon">
                                <i data-feather="users"></i>
                            </div>
                            <h3>Consortium Blockchain</h3>
                            <p>Consortium Blockchain within the combination of public and personal blockchains where anyone can validate it and only one entity can appoint. it's beneficial for multiple organizations where sharing the insights with one another
                                are often easy and reliable.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Banner Area -->



    <!-- Start Discover Area -->
    <div class="discover-area ptb-80">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="discover-image">
                        <img src="assets/img/bigdata-analytics/discover-img1.png" alt="image">
                        <img src="assets/img/bigdata-analytics/discover-img2.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="discover-content">
                        <h2>Blockchain Development Process</h2>
                        <ol class="text-light">
                            <li>Identify the Goal.</li>
                            <li>Choose the right Blockchain Platform </li>
                            <li>Brainstorming and Blockchain Ideation </li>
                            <li>Proof of Concept </li>
                            <li>Visual and Technical Design </li>
                            <li>Development </li>
                        </ol>

                        <a href="blockchaindevelopmentblog" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="analytics-shape1"><img src="assets/img/bigdata-analytics/analytics-shape1.png" alt="image"></div>
    </div>
    <!-- End Discover Area -->

    <!-- Start Services Area -->
    <div class="bigdata-services-area ptb-80 bg-eef6fd">
        <div class="container">
            <div class="section-title">
                <h2>Some innovational ways for add dApps into your Business solutions</h2>
                <div class="bar"></div>
                <p>A decentralized application is open-source software that's developed on the blockchain. DApps connect each side of the market, either as a service provider and consumer or buyer and seller.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services-box-item">
                        <div class="icon">
                            <img src="assets/img/bigdata-analytics/icon1.png" alt="image">
                        </div>
                        <h3><a href="single-services.html">Smart Contract Development</a></h3>
                        <p>Our team developed Smart Contact which is that the a part of Blockchain which runs on the Ethereum Blockchain.</p>
                        <!-- <a href="single-services.html" class="learn-more-btn"><i data-feather="arrow-right"></i>Learn More</a> -->
                        <div class="shape"><img src="assets/img/bigdata-analytics/rectangle.png" alt="image"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services-box-item">
                        <div class="icon">
                            <img src="assets/img/bigdata-analytics/icon2.png" alt="image">
                        </div>
                        <h3><a href="single-services.html">Crypto Exchange Development           </a></h3>
                        <p>Our COZNNOX development team provides you Cryptocurrency exchange platform with a high specialise in advanced security, scalabililty and efficiency.</p>
                        <!-- <a href="single-services.html" class="learn-more-btn"><i data-feather="arrow-right"></i>Learn More</a> -->
                        <div class="shape"><img src="assets/img/bigdata-analytics/rectangle.png" alt="image"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services-box-item">
                        <div class="icon">
                            <img src="assets/img/bigdata-analytics/icon3.png" alt="image">
                        </div>
                        <h3><a href="single-services.html">Permissioned Blockchain</a></h3>
                        <p>Apart from public Blockchain our development team also developed Permissioned or Private Blockchain which allows just one selected entry of verified participants.</p>
                        <!-- <a href="single-services.html" class="learn-more-btn"><i data-feather="arrow-right"></i>Learn More</a> -->
                        <div class="shape"><img src="assets/img/bigdata-analytics/rectangle.png" alt="image"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services-box-item">
                        <div class="icon">
                            <img src="assets/img/bigdata-analytics/icon4.png" alt="image">
                        </div>
                        <h3><a href="single-services.html">IEO and ICO Services</a></h3>
                        <p>We also provide IEO & ICO services which helps you to generating of Cryptocurrency for distribution and development of White Papers.</p>
                        <!-- <a href="single-services.html" class="learn-more-btn"><i data-feather="arrow-right"></i>Learn More</a> -->
                        <div class="shape"><img src="assets/img/bigdata-analytics/rectangle.png" alt="image"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services-box-item">
                        <div class="icon">
                            <img src="assets/img/bigdata-analytics/icon5.png" alt="image">
                        </div>
                        <h3><a href="single-services.html">Hyperledger</a></h3>
                        <p>Hyperledger that gives the required framework, standards, guidelines, and tools to create open source blockchains and related applications to be used across various industries.</p>
                        <!-- <a href="single-services.html" class="learn-more-btn"><i data-feather="arrow-right"></i>Learn More</a> -->
                        <div class="shape"><img src="assets/img/bigdata-analytics/rectangle.png" alt="image"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services-box-item">
                        <div class="icon">
                            <img src="assets/img/bigdata-analytics/icon6.png" alt="image">
                        </div>
                        <h3><a href="single-services.html">Crypto Token</a></h3>
                        <p>Our team of blockchain developers also offers the service of digital tokenization. The tokens we create are often wont to represent asset values to be traded as cryptocurrency, and loyalty points, rather than cash.

                        </p>
                        <!-- <a href="single-services.html" class="learn-more-btn"><i data-feather="arrow-right"></i>Learn More</a> -->
                        <div class="shape"><img src="assets/img/bigdata-analytics/rectangle.png" alt="image"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services-box-item">
                        <div class="icon">
                            <img src="assets/img/bigdata-analytics/icon6.png" alt="image">
                        </div>
                        <h3><a href="single-services.html">DApp Solutions</a></h3>
                        <p>Our DApp porting services make sure that your DApp solutions are accessible on all web and mobile platforms.

                        </p>
                        <!-- <a href="single-services.html" class="learn-more-btn"><i data-feather="arrow-right"></i>Learn More</a> -->
                        <div class="shape"><img src="assets/img/bigdata-analytics/rectangle.png" alt="image"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services-box-item">
                        <div class="icon">
                            <img src="assets/img/bigdata-analytics/icon6.png" alt="image">
                        </div>
                        <h3><a href="single-services.html">Crypto Wallet Development</a></h3>
                        <p>You can use cryptocurrency wallet service to secure and store your cryptocurrencies.

                        </p>
                        <!-- <a href="single-services.html" class="learn-more-btn"><i data-feather="arrow-right"></i>Learn More</a> -->
                        <div class="shape"><img src="assets/img/bigdata-analytics/rectangle.png" alt="image"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Services Area -->

    <!-- Start Team Area -->
    <!-- <div class="team-area repair-team-area ptb-80 bg-f9f6f6">
    <div class="container">
        <div class="section-title">
            <h2>Our Awesome Team</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team">
                    <div class="team-image">
                        <img src="assets/img/team-image/1.jpg" alt="image">
                    </div>

                    <div class="team-content">
                        <div class="team-info">
                            <h3>Josh Buttler</h3>
                            <span>CEO & Founder</span>
                        </div>
                        <ul>
                            <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
                        </ul>
                        <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team">
                    <div class="team-image">
                        <img src="assets/img/team-image/2.jpg" alt="image">
                    </div>

                    <div class="team-content">
                        <div class="team-info">
                            <h3>Alex Maxwel</h3>
                            <span>Marketing Manager</span>
                        </div>
                        <ul>
                            <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
                        </ul>
                        <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team">
                    <div class="team-image">
                        <img src="assets/img/team-image/3.jpg" alt="image">
                    </div>

                    <div class="team-content">
                        <div class="team-info">
                            <h3>Janny Cotller</h3>
                            <span>Web Developer</span>
                        </div>
                        <ul>
                            <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
                        </ul>
                        <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team">
                    <div class="team-image">
                        <img src="assets/img/team-image/4.jpg" alt="image">
                    </div>

                    <div class="team-content">
                        <div class="team-info">
                            <h3>Jason Statham</h3>
                            <span>UX/UI Designer</span>
                        </div>
                        <ul>
                            <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i data-feather="gitlab"></i></a></li>
                        </ul>
                        <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
    <!-- End Team Area -->

    <!-- Start Fun Facts Area -->
    <!-- <div class="funfacts-area bg-image ptb-80">
        <div class="container">
            <div class="section-title">
                <h2>We always try to understand users expectation</h2>
                <div class="bar"></div>
                <p>Together we achieve that which no one can achieve alone. </p>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-6 col-sm-6">
                    <div class="single-funfact">
                        <h3><span class="odometer" data-count="180">00</span>K</h3>
                        <p>Downloaded</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-6 col-sm-6">
                    <div class="single-funfact">
                        <h3><span class="odometer" data-count="20">00</span>K</h3>
                        <p>Feedback</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-6 col-sm-6">
                    <div class="single-funfact">
                        <h3><span class="odometer" data-count="500">00</span>+</h3>
                        <p>Workers</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-6 col-sm-6">
                    <div class="single-funfact">
                        <h3><span class="odometer" data-count="70">00</span>+</h3>
                        <p>Contributors</p>
                    </div>
                </div>
            </div>

            <div class="contact-cta-box">
                <h3>Have any question about us?</h3>
                <p>Don't hesitate to contact us</p>
                <a href="#" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
    </div> -->
    <!-- End Fun Facts Area -->

    <!-- Start What We Do Area -->
    <!-- <div class="what-we-do-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>What We Do</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-what-we-do-box">
                    <div class="icon">
                        <i class="flaticon-monitor"></i>
                    </div>
                    <h3><a href="single-services.html">Add Blog 1</a></h3>
                    <p>Lorem ipsum dolor sit consectetur, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="single-services.html" class="link">Market Research</a>
                    <a href="single-services.html" class="link">Investment Research</a>
                    <a href="single-services.html" class="read-more-btn"><i data-feather="arrow-right"></i>Read More</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-what-we-do-box">
                    <div class="icon">
                        <i class="flaticon-idea"></i>
                    </div>
                    <h3><a href="single-services.html">Add Blog 2</a></h3>
                    <p>Lorem ipsum dolor sit consectetur, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="single-services.html" class="link">Data Analytics</a>
                    <a href="single-services.html" class="link">Business Intelligence</a>
                    <a href="single-services.html" class="read-more-btn"><i data-feather="arrow-right"></i>Read More</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-what-we-do-box">
                    <div class="icon">
                        <i class="flaticon-software"></i>
                    </div>
                    <h3><a href="single-services.html">Add Blog 3</a></h3>
                    <p>Lorem ipsum dolor sit consectetur, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="single-services.html" class="link">Intelligence Automation</a>
                    <a href="single-services.html" class="link">Quality Engineering</a>
                    <a href="single-services.html" class="read-more-btn"><i data-feather="arrow-right"></i>Read More</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
    <!-- End What We Do Area -->

    <!-- Start Feedback Area -->
    <!-- <div class="bigdata-feedback-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>What Users Saying</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-feedback-box">
                    <div class="feedback-desc">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium, totam rem aperiam, eaque ipsaquaeab illo.</p>
                    </div>

                    <div class="client-info">
                        <img src="assets/img/author1.jpg" alt="image">
                        <h3>David Luis</h3>
                        <span>Founder & CEO</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-feedback-box">
                    <div class="feedback-desc">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium, totam rem aperiam, eaque ipsaquaeab illo.</p>
                    </div>

                    <div class="client-info">
                        <img src="assets/img/author2.jpg" alt="image">
                        <h3>Steven Smith</h3>
                        <span>Developer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-feedback-box">
                    <div class="feedback-desc">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium, totam rem aperiam, eaque ipsaquaeab illo.</p>
                    </div>

                    <div class="client-info">
                        <img src="assets/img/author3.jpg" alt="image">
                        <h3>Sarah Lucy</h3>
                        <span>Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
    <!-- End Feedback Area -->
    <style>
        .single-industries-serve-box {
            text-align: right;
        }
    </style>
    <!-- Start Industries Serve Area -->
    <div class="industries-serve-area ptb-80">
        <div class="container">
            <div class="section-title">
                <h2>Blockchain Platform</h2>
                <div class="bar"></div>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
            </div>

            <div class="row">
                <div class="col-lg-3 col-6 col-sm-6 col-md-4">
                    <div class="single-industries-serve-box">
                        <div class="icon">
                            <img src="assets/img/icon/andriod.svg" />
                        </div>
                        <span class="right"> Andriod </span>
                        <a href="single-services.html" class="link-btn"></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6 col-sm-6 col-md-4">
                    <div class="single-industries-serve-box">
                        <div class="icon">
                            <img src="assets/img/icon/zend.svg" />
                        </div>
                        <span class="right"> zend </span>
                        <a href="single-services.html" class="link-btn"></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6 col-sm-6 col-md-4">
                    <div class="single-industries-serve-box">
                        <div class="icon">
                            <img src="assets/img/icon/react.svg" />
                        </div>
                        React
                        <a href="single-services.html" class="link-btn"></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6 col-sm-6 col-md-4">
                    <div class="single-industries-serve-box">
                        <div class="icon">
                            <img src="assets/img/icon/Java.svg" />
                        </div>
                        Java
                        <a href="single-services.html" class="link-btn"></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6 col-sm-6 col-md-4">
                    <div class="single-industries-serve-box">
                        <div class="icon">
                            <img src="assets/img/icon/php.svg" />
                        </div>
                        PHP
                        <a href="single-services.html" class="link-btn"></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6 col-sm-6 col-md-4">
                    <div class="single-industries-serve-box">
                        <div class="icon">
                            <img src="assets/img/icon/sass.svg" />
                        </div>
                        Sass
                        <a href="single-services.html" class="link-btn"></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6 col-sm-6 col-md-4">
                    <div class="single-industries-serve-box">
                        <div class="icon">
                            <img src="assets/img/icon/ios.svg" />
                        </div>
                        Ios
                        <a href="single-services.html" class="link-btn"></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6 col-sm-6 col-md-4">
                    <div class="single-industries-serve-box">
                        <div class="icon">
                            <img src="assets/img/icon/node-js.svg" />
                        </div>
                        Node.js
                        <a href="single-services.html" class="link-btn"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="analytics-shape2"><img src="assets/img/bigdata-analytics/vector.png" alt="image"></div>
    </div>
    <!-- End Industries Serve Area -->

    <!-- Start Blog Area -->
    <!-- <div class="blog-area ptb-80">
        <div class="container">
            <div class="section-title">
                <h2>Our Recent Story</h2>
                <div class="bar"></div>
                <p>ADD BLOGS</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post-box bg-f4faff">
                        <div class="entry-thumbnail">
                            <a href="#"><img src="assets/img/blog-image/1.jpg" alt="image"></a>
                        </div>

                        <div class="entry-post-content">
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#">Admin</a></li>
                                    <li>August 15, 2019</li>
                                </ul>
                            </div>

                            <h3><a href="#">Making Peace With The Feast Or Famine Of Freelancing</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                            <a href="#" class="learn-more-btn">Read Story <i data-feather="plus"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post-box bg-f4faff">
                        <div class="entry-thumbnail">
                            <a href="#"><img src="assets/img/blog-image/2.jpg" alt="image"></a>
                        </div>

                        <div class="entry-post-content">
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#">Admin</a></li>
                                    <li>August 18, 2019</li>
                                </ul>
                            </div>

                            <h3><a href="#">I Used The Web For A Day On A 50 MB Budget</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                            <a href="#" class="learn-more-btn">Read Story <i data-feather="plus"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                    <div class="single-blog-post-box bg-f4faff">
                        <div class="entry-thumbnail">
                            <a href="#"><img src="assets/img/blog-image/3.jpg" alt="image"></a>
                        </div>

                        <div class="entry-post-content">
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#">Admin</a></li>
                                    <li>August 15, 2019</li>
                                </ul>
                            </div>

                            <h3><a href="#">Here are the 5 most telling signs of micromanagement</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                            <a href="#" class="learn-more-btn">Read Story <i data-feather="plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div> -->
    <!-- End Blog Area -->

    <!-- Start Newsletter Area -->
    <!-- <div class="newsletter-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="newsletter-image">
                        <img src="assets/img/bigdata-analytics/newsletter.jpg" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 p-0">
                    <div class="newsletter-content">
                        <h2>Start your free trial</h2>
                        <form class="newsletter-form">
                            <input type="email" class="input-newsletter" placeholder="Enter your business email here">
                            <button type="submit">Sign Up Free</button>
                        </form>
                        <p>Test out the Big Data Analytics features for 14 days, no credit card required.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Newsletter Area -->



    <%- include('footer') %>