<%- include('header') %>



    <!-- Start Page Title -->
    <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h2>E-commerce Web Development</h2>
                </div>
            </div>
        </div>

        <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div>
    <!-- End Page Title -->

    <!-- Start Project Details Area -->
    <div class="project-details-area ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="project-details-image">
                        <img src="assets/img/works-image/1.jpg" alt="work">

                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="popup-youtube"><i data-feather="play"></i></a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="project-details-image">
                        <img src="assets/img/works-image/2.jpg" alt="work">

                        <a href="assets/img/works-image/2.jpg" class="popup-btn"><i data-feather="plus"></i></a>
                    </div>
                </div>

                <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="project-details-image">
                        <img src="assets/img/works-image/4.jpg" alt="work">

                        <a href="assets/img/works-image/4.jpg" class="popup-btn"><i data-feather="plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="project-details-image">
                        <img src="assets/img/works-image/3.jpg" alt="work">

                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="popup-youtube"><i data-feather="play"></i></a>
                    </div>
                </div> -->

                <div class="col-lg-12 col-md-12">
                    <div class="project-details-desc">
                        <h3>E-commerce Development</h3>

                        <p>Ecommerce, additionally regarded as digital commerce or net commerce, refers to the shopping for and promoting of items or offerings the use of the internet, and the switch of cash and information to execute these transactions.</p>

                        <p>Selling merchandise via an on line save is the pleasant way to make a bit of greater money. Through an eCommerce website, you can effortlessly introduce your merchandise to a giant range of clients at once. There are so many advantages
                            of eCommerce web sites over bodily shops. And that is the purpose why many merchants are inclined to take their enterprise to the subsequent stage through developing an eCommerce website.Ecommerce structures are the quickest
                            way to construct an eCommerce website. Below are some of the pinnacle eCommerce internet site builders which you can reflect onconsideration on for growing your eCommerce website.

                        </p>

                        <!-- <div class="project-details-information">
                            <div class="single-info-box">
                                <h4>Happy Client</h4>
                                <p>John Doe</p>
                            </div>

                            <div class="single-info-box">
                                <h4>Category</h4>
                                <p>Portfolio, Personal</p>
                            </div>

                            <div class="single-info-box">
                                <h4>Date</h4>
                                <p>February 28, 2019</p>
                            </div>

                            <div class="single-info-box">
                                <h4>Share</h4>
                                <ul>
                                    <li><a href="#" target="_blank"><i data-feather="facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i data-feather="twitter"></i></a></li>
                                    <li><a href="#"><i data-feather="instagram"></i></a></li>
                                    <li><a href="#" target="_blank"><i data-feather="linkedin"></i></a></li>
                                </ul>
                            </div>

                            <div class="single-info-box">
                                <a href="#" class="btn btn-primary">Live Preview</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Project Details Area -->



    <%- include('footer') %>