<%- include('header'); -%>
<!-- Start Page Title -->

<div class="page-title-area">

    <div class="d-table">

        <div class="d-table-cell">

            <div class="container">

                <h2>Fultter</h2>

            </div>

        </div>

    </div>



    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>

    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>

    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>

    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>

    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>

    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>

    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>

    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>

</div>

<!-- End Page Title -->



<div class="container">

    <div class="row">

        <div class="col-lg-8 col-md-8">

            <div class="project-details-desc pt-5">

                <h3>Flutter</h3>

                <p>Flutter is Google's new open source innovation for making local Android and iOS applications with one codebase. In contrast to other well known arrangements, Flutter isn't a system; it is a finished SDK – programming advancement unit – which as of now contains all that you'll had the opportunity to fabricate cross-stage applications.</p>











                <div class="project-details-information">

                    <div class="single-info-box mb-5 p-0">

                        <a href="#" class="btn btn-primary">Contact us</a>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-lg-4 col-md-4">

            <div class="agency-banner-image mt-5">

                <img src="assets/img/agency-image/Flutter.png" alt="image">

            </div>

        </div>

    </div>









</div>

<div class="solutions-area ptb-80">

    <div class="container">

        <div class="row">

            <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/expedite-development-speed.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Dart Language</a></h3>

                    <p>The format of Dart design is revelatory and automatic and it makes it simple for engineers to peruse and envision it effectively and easily that is the reason it permits shudder to keep away from the need for a different definitive design language.</p>

                    

                </div>

            </div>

           <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/hot-reload.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Reactive Framework</a></h3>

                    <p>Flutter may be a reactive, pseudo-declarative UI framework, during which the developer provides a mapping from application state to interface state, and therefore the framework takes on the task of updating the interface at runtime when the appliance state changes.</p>

                    

                </div>

            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/population-of-widget.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Widgets</a></h3>

                    <p>Flutter gadgets are constructed utilizing an advanced system that takes motivation from React. The focal thought is that you essentially fabricate your UI out of gadgets.</p>

                    

                </div>

            </div>

           <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/material-design-and-cupertino.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Hot Relod</a></h3>

                    <p>Flutter hot reload include helps you rapidly and essentially try, construct UIs, add highlights, and fix bugs. Hot reload works by infusing refreshed ASCII text record documents into the running Dart Virtual Machine (VM).</p>

                    

                </div>

            </div>

           <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/reactive-framework.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Iteration</a></h3>

                    <p>Building Android and iOS portable applications utilizing Flutter have turned simple. Presently, narrowing down on end plans after due experimentation and investigating doesn't take a considerable measure of your time .</p>

                    

                </div>

            </div>

           <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/dart-benefits.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">One codebase</a></h3>

                    <p>Flutter and other cross-platform tools allow you to make one codebase which will be used on iOS and Android, which saves you up to 70% of the event time.</p>

                    

                </div>

            </div>

           <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/faster-code-writing.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Flexible UI</a></h3>

                    <p>It can be used for growing bendy and responsive UI designs that adapt to special display screen sizes and dimensions. ConstraintLayout lets in you to specify the function and measurement for every view in accordance to spatial relationships with different views in the layout.
</p>

                    

                </div>

            </div>

            <!-- <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/flexible-ui.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Programmatic Advertising</a></h3>

                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>

                    

                </div>

            </div> -->

        </div>

    </div>

    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>

    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>

    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>

    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>

    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>

</div>

<%- include('footer'); -%>