<!doctype html>

<html lang="zxx">



<head>

    <!-- Required meta tags -->

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- All CSS Link -->

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/animate.min.css">

    <link rel="stylesheet" href="assets/css/meanmenu.css">

    <link rel="stylesheet" href="assets/css/boxicons.min.css">

    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">

    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">

    <link rel="stylesheet" href="assets/css/flaticon.css">

    <link rel="stylesheet" href="assets/css/odometer.min.css">

    <link rel="stylesheet" href="assets/css/slick.min.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="assets/css/responsive.css">



    <title>Cognnox Intelligent Systems Pvt. Ltd.</title>



    <link rel="icon" type="image/png" href="assets/img/favicon.png">

</head>

<style>
    .full-with {
        width: 1600px !important;
        position: absolute !important;
        left: -644px !important;
        margin: 0px auto;
        top: 35px !important;
        height: 100vh;
        padding: 0px !important;
        z-index: 9999;
    }
    
    .deicover {
        background: #02a071;
        margin: 0px;
        padding: 36px 0px 0px 104px;
        color: #fff;
        height: 100vh;
    }
    
    .tabs_features {
        position: relative;
        background: #ffffff;
        padding-left: 95px;
        padding-top: 30px;
        padding-right: 20px;
        padding-bottom: 30px;
        border-radius: 5px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    
    .tabs_features .icon {
        position: absolute;
        text-align: center;
        width: 55px;
        height: 55px;
        line-height: 55px;
        background: #cdf1d8;
        border-radius: 50%;
        color: #44ce6f;
        left: 20px;
        top: 30px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    
    .tabs_features:hover .icon {
        background: #44ce6f;
        color: #ffffff;
    }
    
    .tabs_features h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .nav-link {
        padding: 1.1rem 0.5rem;
    }
    
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #ffffff;
        border-radius: 10px 0px 0px 10px;
    }
    
    .nav-link .tabs_f {
        color: rgb(255 255 255);
        font-size: 17px;
        text-align: left;
        padding-left: 19px;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
        font-size: 17px;
        text-align: left;
        /* padding-left: 22px; */
        padding: 17px 34px;
    }
    
    .tabs_inwer_nav {
        width: 237px;
        margin-top: 20px !important;
    }
    
    .tabs_inwer_nav li a {
        padding: 14px 15px !important;
    }
    
    .tab-content {
        padding-top: 26px;
    }
    
    @media only screen and (max-width: 600px) {
        .full-with {
            width: 1136px !important;
            position: absolute !important;
            left: -70px !important;
            z-index: 9999;
            margin: 0px auto;
            top: 100% !important;
            height: 100vh;
            padding: 0px !important;
        }
        .navbar-light .navbar-nav .nav-link {
            color: #000;
        }
        .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            color: #000;
        }
        small.text_mobile {
            position: absolute;
            top: 40px;
            font-size: 10px;
            left: 4px;
            font-weight: 600;
        }
    }
    
    .positon_rl {
        position: relative !important;
        width: 100%;
        margin: 0px auto;
    }
    
    small.text {
        position: absolute;
        top: 54px;
        font-size: 14px;
        left: 4px;
        font-weight: 600;
    }
    
    .top_po img {
        position: relative;
        top: -6px;
    }
</style>

<body>



    <!-- Start Preloader Area -->

    <div class="preloader">

        <div class="spinner"></div>

    </div>

    <!-- End Preloader Area -->



    <!-- Start Navbar Area -->

    <header id="header" class="headroom">

        <div class="startp-responsive-nav">

            <div class="container">

                <div class="startp-responsive-menu">

                    <div class="logo top_po">
                        <a href="index.php">
                            <img src="assets/img/logo.png" alt="logo">
                        </a>
                        <small class="text_mobile">Intelligent Systems Pvt. Ltd.</small>
                    </div>

                </div>

            </div>

        </div>



        <div class="startp-nav">

            <div class="container">

                <nav class="navbar navbar-expand-md navbar-light">

                    <a class="navbar-brand left" href="index.php">
                        <img src="assets/img/logo.png" alt="logo"></a>

                    <small class="text">Intelligent Systems Pvt. Ltd.</small>



                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">

                        <ul class="navbar-nav nav ml-auto">

                            <li class="nav-item"><a href="/" class="nav-link active">Home</a>



                            </li>



                            <li class="nav-item"><a href="about" class="nav-link">About </a>



                            </li>





                            <li class="nav-item d-sm-block d-md-none d-lg-none d-xl-none"><a href="#" class="nav-link">Services <i data-feather="chevron-down"></i></a>

                                <ul class="dropdown_menu">



                                    <li class="nav-item"><a href="#" class="nav-link">Discover</a></li>



                                    <li class="nav-item"><a href="#" class="nav-link">Design</a></li>



                                    <li class="nav-item"><a href="#" class="nav-link">Engineer <i data-feather="chevron-right"></i></a>

                                        <ul class="dropdown_menu">

                                            <li class="nav-item"><a href="#" class="nav-link"> Blockchain & Token</a></li>



                                            <li class="nav-item"><a href="android-apps-development" class="nav-link"> Android apps development</a></li>



                                            <li class="nav-item"><a href="uiux_designer" class="nav-link"> UX/UI design</a></li>



                                            <li class="nav-item"><a href="flutter" class="nav-link"> Flutter</a></li>



                                            <li class="nav-item"><a href="responsive" class="nav-link">Responsive design</a></li>



                                            <li class="nav-item"><a href="#" class="nav-link"> Laravel web development</a></li>



                                            <li class="nav-item"><a href="#" class="nav-link"> E-commerce development</a></li>



                                            <!-- <li class="nav-item"><a href="android-apps-development" class="nav-link">  iOS apps developmentt</a></li> -->

                                            <li class="nav-item"><a href="web_development" class="nav-link">    Web development</a></li>

                                            <!-- <li class="nav-item"><a href="single-services" class="nav-link">    Internet of Things</a></li> -->

                                            <!-- <li class="nav-item"><a href="single-services" class="nav-link">     Print ready design</a></li> -->

                                        </ul>

                                    </li>



                                    <li class="nav-item"><a href="feedback" class="nav-link">Scale</a></li>





                                </ul>

                            </li>







                            <li class="nav-item d-none  d-lg-block d-xl-block"><a href="#" class="nav-link">Services <i data-feather="chevron-down"></i></a>





                                <div class="container-fluid positon_rl">

                                    <ul class="dropdown_menu full-with">

                                        <div class="d-flex align-items-start bg-">

                                            <div class="nav flex-column nav-pills me-3 deicover" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                                                <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Discover</button>

                                                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Design</button>

                                                <button class="nav-link active" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Engineer</button>

                                                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Scale</button>

                                            </div>

                                            <div class="tab-content" id="v-pills-tabContent">

                                                <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">



                                                    <div class="row">

                                                        <div class="col-lg-8 col-md-8 col-sm-12">

                                                            <div class="row">

                                                                <div class="col-lg-12 col-md-12 col-sm-12">

                                                                    <div class="tabs_features">

                                                                        <div class="icon bg-c679e3">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>

                                                                        </div>

                                                                        <h3>Scoping sessions</h3>

                                                                        <p>Enlighten our tech experts about your breakthrough idea in an intensive session. We characterise your product idea and define the Scope of work.</p>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                            <div class="row">

                                                                <div class="col-lg-12 col-md-12 col-sm-12">

                                                                    <div class="tabs_features">

                                                                        <div class="icon bg-eb6b3d">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mouse-pointer"><path d="M3 3l7.07 16.97 2.51-7.39 7.39-2.51L3 3z"></path><path d="M13 13l6 6"></path></svg>

                                                                        </div>

                                                                        <h3>

                                                                            Business analysis</h3>

                                                                        <p>We elicit business needs, study the competitive landscape, perform strategic analysis, and provide bespoke solutions</p>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                            <div class="row">

                                                                <div class="col-lg-12 col-md-12 col-sm-12">

                                                                    <div class="tabs_features">

                                                                        <div class="icon">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>

                                                                        </div>

                                                                        <h3>Product discovery workshop & design sprints</h3>

                                                                        <p>We elicit business needs, study the competitive landscape, perform strategic analysis, and provide bespoke solutions</p>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-lg-4 col-md-4 col-sm-4">



                                                        </div>

                                                    </div>



                                                </div>







                                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">



                                                    <div class="row">

                                                        <div class="col-lg-8 col-md-8 col-sm-12">

                                                            <div class="row">

                                                                <div class="col-lg-12 col-md-12 col-sm-12">

                                                                    <div class="tabs_features">

                                                                        <div class="icon">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-branch"><line x1="6" y1="3" x2="6" y2="15"></line><circle cx="18" cy="6" r="3"></circle><circle cx="6" cy="18" r="3"></circle><path d="M18 9a9 9 0 0 1-9 9"></path></svg>

                                                                        </div>

                                                                        <h3>User Experience Design</h3>

                                                                        <p>Seamlessly integrate branding, functionality, usability and accessibility into your product. We enhance user interaction and deliver experiences that are meaningful<br> and delightful.</p>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                            <div class="row">

                                                                <div class="col-lg-12 col-md-12 col-sm-12">

                                                                    <div class="tabs_features">

                                                                        <div class="icon">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>

                                                                        </div>

                                                                        <h3>User Interface Design</h3>

                                                                        <p>We enhance usability and craft designs that are unconventional and intuitively guides users into a splendid visual journey.</p>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                            <div class="row">

                                                                <div class="col-lg-12 col-md-12 col-sm-12">

                                                                    <div class="tabs_features">

                                                                        <div class="icon">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>

                                                                        </div>

                                                                        <h3>User Experience Review</h3>

                                                                        <p>Identify usability issues, discuss UX improvements, and radically improve your digital product with our UX review sessions.</p>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-lg-4 col-md-4 col-sm-4">



                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="tab-pane fade show active" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

                                                    <div class="row">

                                                        <div class="col-lg-12 col-md-12 col-sm-12">

                                                            <div class="row">

                                                                <div class="col-lg-8 col-md-8 col-sm-8">

                                                                    <div class="row services-content">

                                                                        <div class="col-lg-4 col-md-4 col-sm-4">

                                                                            <div class="box">

                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg>                                                                                <a href="/blockchain"> Blockchain & Token </a>

                                                                            </div>

                                                                        </div>

                                                                        <div class="col-lg-4 col-md-4 col-sm-4">

                                                                            <div class="box">

                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layout"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg>                                                                                <a href="/responsive"> Responsive design </a>

                                                                            </div>

                                                                        </div>



                                                                        <div class="col-lg-4 col-md-4 col-sm-4">

                                                                            <div class="box">

                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg>                                                                                <a href="/react"> React web development </a>

                                                                            </div>

                                                                        </div>



                                                                        <div class="col-lg-4 col-md-4 col-sm-4">

                                                                            <div class="box">

                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smartphone"><rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect><line x1="12" y1="18" x2="12" y2="18"></line></svg>
                                                                                <a href="/androidappdevelopment">Android App Development </a>

                                                                            </div>

                                                                        </div>



                                                                        <div class="col-lg-4 col-md-4 col-sm-4">

                                                                            <div class="box">

                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg>                                                                                <a href="/web_development"> Web development </a>

                                                                            </div>

                                                                        </div>



                                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-4">

                                                                            <div class="box">

                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smartphone"><rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect><line x1="12" y1="18" x2="12" y2="18"></line></svg>                                                                                iOS apps development

                                                                            </div>

                                                                        </div> -->



                                                                        <div class="col-lg-4 col-md-4 col-sm-4">

                                                                            <div class="box">

                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pen-tool"><path d="M12 19l7-7 3 3-7 7-3-3z"></path><path d="M18 13l-1.5-7.5L2 2l3.5 14.5L13 18l5-5z"></path><path d="M2 2l7.586 7.586"></path><circle cx="11" cy="11" r="2"></circle></svg>                                                                                <a href="/uiuxdesigner">UX/UI design</a>

                                                                            </div>

                                                                        </div>



                                                                        <div class="col-lg-4 col-md-4 col-sm-4">

                                                                            <div class="box">

                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>                                                                                <a href="#">Ecommerce development</a>

                                                                            </div>

                                                                        </div>



                                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-4">

                                                                            <div class="box">

                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>                                                                                Print ready design

                                                                            </div>

                                                                        </div> -->

                                                                        <div class="col-lg-4 col-md-4 col-sm-4">

                                                                            <div class="box">

                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>                                                                                <a href="/flutter">Flutter</a>

                                                                            </div>

                                                                        </div>

                                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-4">

                                                                            <div class="box">

                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>                                                                                Internet of Things

                                                                            </div>

                                                                        </div> -->

                                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-4">

                                                                            <div class="box">

                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>                                                                                Quality assurance

                                                                            </div>

                                                                        </div> -->

                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>



                                                    </div>

                                                </div>

                                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">



                                                    <div class="row">

                                                        <div class="col-lg-8 col-md-8 col-sm-12">

                                                            <div class="row">

                                                                <div class="col-lg-12 col-md-12 col-sm-12">

                                                                    <div class="tabs_features">

                                                                        <div class="icon bg-c679e3">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>

                                                                        </div>

                                                                        <h3>User Experience Design</h3>

                                                                        <p>Seamlessly integrate branding, functionality, usability and accessibility into your product. We enhance user interaction and deliver experiences that are meaningful and delightful.</p>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                            <div class="row">

                                                                <div class="col-lg-12 col-md-12 col-sm-12">

                                                                    <div class="tabs_features">

                                                                        <div class="icon">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>

                                                                        </div>

                                                                        <h3>User Interface Design</h3>

                                                                        <p>We enhance usability and craft designs that are unconventional and intuitively guides users into a splendid visual journey.</p>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                            <div class="row">

                                                                <div class="col-lg-12 col-md-12 col-sm-12">

                                                                    <div class="tabs_features">

                                                                        <div class="icon">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>

                                                                        </div>

                                                                        <h3>User Experience Review</h3>

                                                                        <p>Identify usability issues, discuss UX improvements, and radically improve your digital product with our UX review sessions.</p>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-lg-4 col-md-4 col-sm-4">



                                                        </div>

                                                    </div>



                                                </div>

                                            </div>

                                        </div>

                                    </ul>

                                </div>

                            </li>



                            <li class="nav-item"><a href="blockchain" class="nav-link">Blockchain</a>

                                <li class="nav-item"><a href="blog" class="nav-link">Blog</a>



                                </li>



                                <!--<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>-->

                        </ul>

                    </div>



                    <div class="others-option">

                        <!--<a href="cart.ejs" class="cart-wrapper-btn"><i data-feather="shopping-cart"></i><span>0</span></a>-->

                        <a href="/contact" class="btn btn-light">Contact</a>

                        <a href="tel:8699819022" class="btn btn-primary"> Call us</a>

                    </div>

                </nav>

            </div>

        </div>



        <div class="others-option-for-responsive">

            <div class="container">

                <div class="dot-menu">

                    <div class="inner">

                        <div class="circle circle-one"></div>

                        <div class="circle circle-two"></div>

                        <div class="circle circle-three"></div>

                    </div>

                </div>



                <div class="container">

                    <div class="option-inner">

                        <div class="others-option">

                            <a href="cart.ejs" class="cart-wrapper-btn"><i data-feather="shopping-cart"></i><span>0</span></a>

                            <a href="#" class="btn btn-light">Support</a>

                            <a href="#" class="btn btn-primary">Login</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </header>

    <!-- End Navbar Area -->