<%- include('header') %>
  <!-- Start Page Title -->

  <div class="page-title-area">

    <div class="d-table">

        <div class="d-table-cell">

            <div class="container">

                <h2>Internet of Things</h2>

            </div>

        </div>

    </div>



    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>

    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>

    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>

    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>

    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>

    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>

    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>

    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>

</div>

<!-- End Page Title -->

    <!-- Start Agency Main Banner -->
    <div class="agency-main-banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="agency-banner-content">
                        <span class="sub-title">It's All about Data</span>
                        <h1>Internet of Things</h1>
                        <p>
                            The Internet of Things is the thinking of connecting any gadget to the Internet and to different related devices. The IoT is a massive community of linked matters and humans – all of which gather and share statistics about the way they are used and about
                            the surroundings round them. That consists of an extremely good variety of objects of all shapes and sizes.
                        </p>
                        <a href="#" class="btn btn-secondary">Get Started</a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="agency-banner-image">
                        <img src="assets/img/agency-image/banner-img.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>

        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>

        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>

    </div>
    <!-- End Agency Main Banner -->

    <!-- Start Our Solutions Area -->
    <div class="solutions-area ptb-80">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">What We Offer</span>
                <h2>Our Featured Solutions</h2>
                <div class="bar"></div>
                <p>The Internet of Things is helping create a more sustainable future</p>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="solutions-box">
                        <div class="icon">
                            <i class="bx bx-landscape"></i>
                            <img src="assets/img/agency-image/icon-bg.png" alt="image">
                        </div>

                        <h3><a href="#">iOT Consultancy</a></h3>
                        <p>Appnovation's Internet of Things (IoT) consulting exercise is designed to aid consumers reimagine their on-line presence, commercial enterprise methods and ordinary affect in the digital space. ... Our IoT consultants can provide
                            options to assist construct clever units that are related to the net and share data.
                        </p>
                        <a href="#" class="learn-more-btn"><i data-feather="plus-circle"></i> Learn More</a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="solutions-box">
                        <div class="icon">
                            <i class="bx bx-bar-chart-alt"></i>
                            <img src="assets/img/agency-image/icon-bg.png" alt="image">
                        </div>

                        <h3><a href="#">iOT App Development/a></h3>
                        <p> We assemble smart IoT apps that are seamlessly built-in with present day hardware. We
                            assemble IoT science for a large spectrum of use caess and industries. Our specialised IoT
                            businesses work with the current day gear that aid you embed Genius into devices. </p>
                        <a href="#" class="learn-more-btn"><i data-feather="plus-circle"></i> Learn More</a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="solutions-box">
                        <div class="icon">
                            <i class="bx bx-devices"></i>
                            <img src="assets/img/agency-image/icon-bg.png" alt="image">
                        </div>

                        <h3><a href="#">iOT Platform</a></h3>
                        <p>An IoT platform is a set of elements that approves builders to unfold out the applications, remotely gather data, impenetrable connectivity, and execute sensor management. An IoT platform manages connectivity of the units and approves
                            builders to construct new cellular software program applications.
                        </p>
                        <a href="#" class="learn-more-btn"><i data-feather="plus-circle"></i> Learn More</a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="solutions-box">
                        <div class="icon">
                            <i class="bx bx-chalkboard"></i>
                            <img src="assets/img/agency-image/icon-bg.png" alt="image">
                        </div>

                        <h3><a href="#">IoT testing and maintenance
                            </a></h3>
                        <p>We hire the quality high-quality assurance equipment to grant you with bug-free IoT utility improvement services. We additionally provide high-end aid and preservation offerings to foster a seamless experience.</p>
                        <a href="#" class="learn-more-btn"><i data-feather="plus-circle"></i> Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape9 wow fadeInLeft slow"><img src="assets/img/agency-image/shape1.png" alt="image"></div>
    </div>
    <!-- End Our Solutions Area -->

    <!-- Start About Area -->
    
    <!-- End About Area -->

    <!-- Start Services Area -->
    <!-- <div class="agency-services-area ptb-80">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Our Solutions</span>
                <h2>Our Services</h2>
                <div class="bar"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="agency-services-box">
                        <img src="assets/img/agency-image/services-img1.jpg" alt="image">

                        <div class="content">
                            <h3><a href="#">IT Professionals</a></h3>
                            <a href="#" class="read-more-btn">Read More <i data-feather="plus-circle"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="agency-services-box">
                        <img src="assets/img/agency-image/services-img2.jpg" alt="image">

                        <div class="content">
                            <h3><a href="#">Software Engineers</a></h3>
                            <a href="#" class="read-more-btn">Read More <i data-feather="plus-circle"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="agency-services-box">
                        <img src="assets/img/agency-image/services-img3.jpg" alt="image">

                        <div class="content">
                            <h3><a href="#">Web Development</a></h3>
                            <a href="#" class="read-more-btn">Read More <i data-feather="plus-circle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="agency-services-box">
                        <img src="assets/img/agency-image/services-img4.jpg" alt="image">

                        <div class="content">
                            <h3><a href="#">SEO & Content</a></h3>
                            <a href="#" class="read-more-btn">Read More <i data-feather="plus-circle"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="agency-services-box">
                        <img src="assets/img/agency-image/services-img5.jpg" alt="image">

                        <div class="content">
                            <h3><a href="#">Digital Marketing</a></h3>
                            <a href="#" class="read-more-btn">Read More <i data-feather="plus-circle"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="agency-services-box">
                        <img src="assets/img/agency-image/services-img6.jpg" alt="image">

                        <div class="content">
                            <h3><a href="#">Data Analysts</a></h3>
                            <a href="#" class="read-more-btn">Read More <i data-feather="plus-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div> -->
    <!-- End Services Area -->

    <!-- Start Fun Facts Area -->
    <!-- <div class="funfacts-area ptb-80">
        <div class="container">
            <div class="section-title">
                <h2>We completed 1500+ Projects Yearly Successfully & counting</h2>
                <div class="bar"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                    <div class="funfact">
                        <h3><span class="odometer" data-count="180">00</span>K</h3>
                        <p>Downloaded</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                    <div class="funfact">
                        <h3><span class="odometer" data-count="20">00</span>K</h3>
                        <p>Feedback</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                    <div class="funfact">
                        <h3><span class="odometer" data-count="500">00</span>+</h3>
                        <p>Workers</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                    <div class="funfact">
                        <h3><span class="odometer" data-count="70">00</span>+</h3>
                        <p>Contributors</p>
                    </div>
                </div>
            </div>

            <div class="contact-cta-box">
                <h3>Have any question about us?</h3>
                <p>Don't hesitate to contact us</p>
                <a href="#" class="btn btn-primary">Contact Us</a>
            </div>

            <div class="map-bg">
                <img src="assets/img/map.png" alt="map">
            </div>
        </div>

        <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    </div> -->
    <!-- End Fun Facts Area -->

    <!-- Start ML Projects Area -->
    <!-- <div class="ml-projects-area pt-0 ptb-80">
        <div class="container">
            <div class="section-title">
                <h2>Proud Projects That Make Us Stand Out</h2>
                <div class="bar"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="ml-projects-slides owl-carousel owl-theme">
                <div class="single-ml-projects-box">
                    <img src="assets/img/projects-img1.jpg" alt="image">

                    <div class="plus-icon">
                        <a href="#">
                            <span></span>
                        </a>
                    </div>
                </div>

                <div class="single-ml-projects-box">
                    <img src="assets/img/projects-img2.jpg" alt="image">

                    <div class="plus-icon">
                        <a href="#">
                            <span></span>
                        </a>
                    </div>
                </div>

                <div class="single-ml-projects-box">
                    <img src="assets/img/projects-img3.jpg" alt="image">

                    <div class="plus-icon">
                        <a href="#">
                            <span></span>
                        </a>
                    </div>
                </div>

                <div class="single-ml-projects-box">
                    <img src="assets/img/projects-img4.jpg" alt="image">

                    <div class="plus-icon">
                        <a href="#">
                            <span></span>
                        </a>
                    </div>
                </div>

                <div class="single-ml-projects-box">
                    <img src="assets/img/projects-img5.jpg" alt="image">

                    <div class="plus-icon">
                        <a href="#">
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div> -->
    <!-- End ML Projects Area -->

    <!-- Start Pricing Area -->
    <!-- <div class="pricing-area pt-0 ptb-80">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Pricing</span>
                <h2>Our Pricing Plan</h2>
                <div class="bar"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="tab pricing-tab bg-color">
                <ul class="tabs">
                    <li><a href="#">
                            Monthly Plan
                        </a></li>

                    <li><a href="#">
                            Yearly Plan
                        </a></li>
                </ul>

                <div class="tab_content">
                    <div class="tabs_item">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="pricing-box">
                                    <div class="pricing-header">
                                        <h3>Free</h3>
                                        <p>Get your business up <br>and running</p>
                                    </div>

                                    <div class="price">
                                        $0 <span>/m</span>
                                    </div>

                                    <div class="buy-btn">
                                        <a href="#" class="btn btn-primary">Get Started Free</a>
                                    </div>

                                    <ul class="pricing-features">
                                        <li><i data-feather='check'></i> Drag & Drop Builder</li>
                                        <li><i data-feather='check'></i> Lead Generation & Sales</li>
                                        <li><i data-feather='check'></i> Boot & Digital Assistants</li>
                                        <li><i data-feather='check'></i> Customer Service</li>
                                        <li><i data-feather='check'></i> Up to 1000 Subscribers</li>
                                        <li><i data-feather='check'></i> Unlimited Broadcasts</li>
                                        <li><i data-feather='check'></i> Landing Pages & Web Widgets</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="pricing-box">
                                    <div class="pricing-header">
                                        <h3>Pro</h3>
                                        <p>Get your business up <br>and running</p>
                                    </div>

                                    <div class="price">
                                        $149 <span>/m</span>
                                    </div>

                                    <div class="buy-btn">
                                        <a href="#" class="btn btn-primary">Start 3 Days Free Trial</a>
                                    </div>

                                    <ul class="pricing-features">
                                        <li><i data-feather='check'></i> Drag & Drop Builder</li>
                                        <li><i data-feather='check'></i> Lead Generation & Sales</li>
                                        <li><i data-feather='check'></i> Boot & Digital Assistants</li>
                                        <li><i data-feather='check'></i> Customer Service</li>
                                        <li><i data-feather='check'></i> Up to 3300 Subscribers</li>
                                        <li><i data-feather='check'></i> Unlimited Broadcasts</li>
                                        <li><i data-feather='check'></i> Landing Pages & Web Widgets</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                                <div class="pricing-box">
                                    <div class="pricing-header">
                                        <h3>Premium</h3>
                                        <p>Get your business up <br>and running</p>
                                    </div>

                                    <div class="price">
                                        $179 <span>/m</span>
                                    </div>

                                    <div class="buy-btn">
                                        <a href="#" class="btn btn-primary">Start 6 Days Free Trial</a>
                                    </div>

                                    <ul class="pricing-features">
                                        <li><i data-feather='check'></i> Drag & Drop Builder</li>
                                        <li><i data-feather='check'></i> Lead Generation & Sales</li>
                                        <li><i data-feather='check'></i> Boot & Digital Assistants</li>
                                        <li><i data-feather='check'></i> Customer Service</li>
                                        <li><i data-feather='check'></i> Up to 10000 Subscribers</li>
                                        <li><i data-feather='check'></i> Unlimited Broadcasts</li>
                                        <li><i data-feather='check'></i> Landing Pages & Web Widgets</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tabs_item">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="pricing-box">
                                    <div class="pricing-header">
                                        <h3>Free</h3>
                                        <p>Get your business up <br>and running</p>
                                    </div>

                                    <div class="price">
                                        $0 <span>/y</span>
                                    </div>

                                    <div class="buy-btn">
                                        <a href="#" class="btn btn-primary">Get Started Free</a>
                                    </div>

                                    <ul class="pricing-features">
                                        <li><i data-feather='check'></i> Drag & Drop Builder</li>
                                        <li><i data-feather='check'></i> Lead Generation & Sales</li>
                                        <li><i data-feather='check'></i> Boot & Digital Assistants</li>
                                        <li><i data-feather='check'></i> Customer Service</li>
                                        <li><i data-feather='check'></i> Up to 1000 Subscribers</li>
                                        <li><i data-feather='check'></i> Unlimited Broadcasts</li>
                                        <li><i data-feather='check'></i> Landing Pages & Web Widgets</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="pricing-box">
                                    <div class="pricing-header">
                                        <h3>Pro</h3>
                                        <p>Get your business up <br>and running</p>
                                    </div>

                                    <div class="price">
                                        $249 <span>/y</span>
                                    </div>

                                    <div class="buy-btn">
                                        <a href="#" class="btn btn-primary">Start 3 Days Free Trial</a>
                                    </div>

                                    <ul class="pricing-features">
                                        <li><i data-feather='check'></i> Drag & Drop Builder</li>
                                        <li><i data-feather='check'></i> Lead Generation & Sales</li>
                                        <li><i data-feather='check'></i> Boot & Digital Assistants</li>
                                        <li><i data-feather='check'></i> Customer Service</li>
                                        <li><i data-feather='check'></i> Up to 3300 Subscribers</li>
                                        <li><i data-feather='check'></i> Unlimited Broadcasts</li>
                                        <li><i data-feather='check'></i> Landing Pages & Web Widgets</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                                <div class="pricing-box">
                                    <div class="pricing-header">
                                        <h3>Premium</h3>
                                        <p>Get your business up <br>and running</p>
                                    </div>

                                    <div class="price">
                                        $279 <span>/y</span>
                                    </div>

                                    <div class="buy-btn">
                                        <a href="#" class="btn btn-primary">Start 6 Days Free Trial</a>
                                    </div>

                                    <ul class="pricing-features">
                                        <li><i data-feather='check'></i> Drag & Drop Builder</li>
                                        <li><i data-feather='check'></i> Lead Generation & Sales</li>
                                        <li><i data-feather='check'></i> Boot & Digital Assistants</li>
                                        <li><i data-feather='check'></i> Customer Service</li>
                                        <li><i data-feather='check'></i> Up to 10000 Subscribers</li>
                                        <li><i data-feather='check'></i> Unlimited Broadcasts</li>
                                        <li><i data-feather='check'></i> Landing Pages & Web Widgets</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape9"><img src="assets/img/agency-image/shape1.png" alt="image"></div>
    </div> -->
    <!-- End Pricing Area -->

    <!-- Start ML Feedback Area -->
    <!-- <div class="ml-feedback-area ptb-80">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Testimonials</span>
                <h2>Our Clients Feedback</h2>
                <div class="bar"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="ml-feedback-slides owl-carousel owl-theme">
                <div class="single-testimonials-item">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>

                    <div class="client-info">
                        <img src="assets/img/client-image/1.jpg" alt="image">
                        <div class="rating">
                            <i data-feather="star"></i>
                            <i data-feather="star"></i>
                            <i data-feather="star"></i>
                            <i data-feather="star"></i>
                            <i data-feather="star"></i>
                        </div>
                        <h3>Sarah Taylor</h3>
                        <span>CEO at Envato</span>
                    </div>
                </div>

                <div class="single-testimonials-item">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>

                    <div class="client-info">
                        <img src="assets/img/client-image/3.jpg" alt="image">
                        <div class="rating">
                            <i data-feather="star"></i>
                            <i data-feather="star"></i>
                            <i data-feather="star"></i>
                            <i data-feather="star"></i>
                            <i data-feather="star"></i>
                        </div>
                        <h3>Steven Smith</h3>
                        <span>CEO at Envato</span>
                    </div>
                </div>

                <div class="single-testimonials-item">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>

                    <div class="client-info">
                        <img src="assets/img/client-image/2.jpg" alt="image">
                        <div class="rating">
                            <i data-feather="star"></i>
                            <i data-feather="star"></i>
                            <i data-feather="star"></i>
                            <i data-feather="star"></i>
                            <i data-feather="star"></i>
                        </div>
                        <h3>James Eva</h3>
                        <span>CEO at Envato</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="user-shape1"><img src="assets/img/agency-image/user1.png" alt="image"></div>
        <div class="user-shape2"><img src="assets/img/agency-image/user2.png" alt="image"></div>
        <div class="user-shape3"><img src="assets/img/agency-image/user3.png" alt="image"></div>
        <div class="user-shape4"><img src="assets/img/agency-image/user4.png" alt="image"></div>
        <div class="user-shape5"><img src="assets/img/agency-image/user5.png" alt="image"></div>
        <div class="user-shape6"><img src="assets/img/agency-image/user6.png" alt="image"></div>
    </div> -->
    <!-- End ML Feedback Area -->

    <!-- Start Blog Area -->
    <!-- <div class="blog-area ptb-80">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">News</span>
                <h2>The News from Our Blog</h2>
                <div class="bar"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post-item">
                        <div class="post-image">
                            <a href="#">
                                <img src="assets/img/blog-image/1.jpg" alt="image">
                            </a>
                        </div>

                        <div class="post-content">
                            <ul class="post-meta">
                                <li><a href="#">Admin</a></li>
                                <li>August 15, 2019</li>
                            </ul>
                            <h3><a href="#">The security risks of changing package owners</a></h3>
                            <a href="#" class="read-more-btn">Read More <i data-feather="plus-circle"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post-item">
                        <div class="post-image">
                            <a href="#">
                                <img src="assets/img/blog-image/2.jpg" alt="image">
                            </a>
                        </div>

                        <div class="post-content">
                            <ul class="post-meta">
                                <li><a href="#">Admin</a></li>
                                <li>August 15, 2019</li>
                            </ul>
                            <h3><a href="#">Tips to Protecting Your Business and Family</a></h3>

                            <a href="#" class="read-more-btn">Read More <i data-feather="plus-circle"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                    <div class="single-blog-post-item">
                        <div class="post-image">
                            <a href="#">
                                <img src="assets/img/blog-image/3.jpg" alt="image">
                            </a>
                        </div>

                        <div class="post-content">
                            <ul class="post-meta">
                                <li><a href="#">Admin</a></li>
                                <li>August 15, 2019</li>
                            </ul>
                            <h3><a href="#">Protect Your Workplace from Cyber Attacks</a></h3>

                            <a href="#" class="read-more-btn">Read More <i data-feather="plus-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div> -->
    <!-- End Blog Area -->

    <!-- Start CTA Area -->
    <!-- <div class="agency-cta-area ptb-80">
        <div class="container">
            <div class="agency-cta-content">
                <h2>Do you have any projects?</h2>
                <a href="#" class="btn btn-gradient">Contact Us</a>
            </div>
        </div>
    </div> -->
    <!-- End CTA Area -->


    <%- include('footer') %>