<%- include('header'); -%>

    <!-- Start Page Title -->

    <div class="page-title-area">

        <div class="d-table">

            <div class="d-table-cell">

                <div class="container">

                    <h2>React </h2>

                </div>

            </div>

        </div>



        <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>

        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>

        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>

        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>

        <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>

        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>

        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>

        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>

    </div>

    <!-- End Page Title -->



    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>React has been designed from the begin for gradual adoption, and you can use as little or as a whole lot React as you need. Whether you prefer to get a style of React, add some interactivity to a easy HTML page, or begin a complicated
                    React-powered app, the hyperlinks in this area will assist you get started.
                    <br>Basically,React is used for constructing consumer interfaces particularly for single-page functions and deal with the view layer for internet and cell apps.
                </p>
            </div>
        </div>

        <div class="row">



            <div class="col-lg-4 col-md-8">

                <div class="project-details-desc pt-5">

                    <h3>React Native</h3>

                    <p><b>React is an open-source, the front end, JavaScript library for constructing consumer interfaces or UI components. It is maintained with the aid of Facebook and a neighborhood of person builders and companies. React can be used as a base in the improvement of single-page or cell purposes
</b></p>

                    <!-- <p>Lorem ipsum dolor sit amet, conse cte tuer adipiscing elit, sed diam no nu m nibhie eui smod. Facil isis atve eros et accumsan etiu sto odi dignis sim qui blandit praesen lup ta de er. At molestiae appellantur pro. Vis wisi oportere per ic ula ad,</p> -->





                </div>

            </div>

            <div class="col-lg-4 col-md-4">

                <div class="agency-banner-image mt-5">

                    <img src="assets/img/agency-image/reactjs-1.png" alt="image">

                </div>

            </div>



            <div class="col-lg-4 col-md-8">

                <div class="project-details-desc pt-5">

                    <h3>React js</h3>

                    <p><b>React Native is an open-source cell software framework created by way of Facebook, Inc. It is used to boost purposes for Android, Android TV, iOS, macOS, tvOS, Web, Windows and UWP with the aid of enabling builders to use React's framework alongside with native platform capabilities.
</b></p>

                    <!-- <p>Lorem ipsum dolor sit amet, conse cte tuer adipiscing elit, sed diam no nu m nibhie eui smod. Facil isis atve eros et accumsan etiu sto odi dignis sim qui blandit praesen lup ta de er. At molestiae appellantur pro. Vis wisi oportere per ic ula ad,</p> -->













                </div>

            </div>

        </div>









    </div>
    <!-- 
<div class="solutions-area ptb-80">

    <div class="container">

        <div class="row">

            <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/expedite-development-speed.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Programmatic Advertising</a></h3>

                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>

                    

                </div>

            </div>

           <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/hot-reload.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Programmatic Advertising</a></h3>

                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>

                    

                </div>

            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/population-of-widget.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Programmatic Advertising</a></h3>

                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>

                    

                </div>

            </div>

           <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/material-design-and-cupertino.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Programmatic Advertising</a></h3>

                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>

                    

                </div>

            </div>

           <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/reactive-framework.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Programmatic Advertising</a></h3>

                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>

                    

                </div>

            </div>

           <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/dart-benefits.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Programmatic Advertising</a></h3>

                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>

                    

                </div>

            </div>

           <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/faster-code-writing.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Programmatic Advertising</a></h3>

                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>

                    

                </div>

            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">

                <div class="icon mb-2">

                    <img src="assets/img/svg/flexible-ui.svg" alt="image">

                </div>

                <div class="solutions-box">

                    <h3><a href="#">Programmatic Advertising</a></h3>

                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>

                    

                </div>

            </div>

        </div>

    </div>

    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>

    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>

    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>

    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>

    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>

</div> -->
    <%- include('footer'); -%>