<%- include('header') %>



    <!-- Start Page Title -->
    <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h2>Services</h2>
                </div>
            </div>
        </div>

        <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div>
    <!-- End Page Title -->

    <!-- Start ML Services Area -->
    <div class="ml-services-area ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="single-ml-services-box">
                        <div class="image">
                            <img src="assets/img/services-image/1.png" alt="image">
                        </div>
                        <h3><a href="#">Blockchain And Smart Contacts</a></h3>
                        <p>Blockchain applications can disrupt the prevailing business models markedly by providing lower-cost instantized solutions. </p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="single-ml-services-box">
                        <div class="image">
                            <img src="assets/img/services-image/2.png" alt="image">
                        </div>
                        <h3><a href="#">Responsive Design</a></h3>
                        <p>The company promises to form your website future-proof with responsive design that function flawlessely across a variety of devices.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="single-ml-services-box">
                        <div class="image">
                            <img src="assets/img/services-image/3.png" alt="image">
                        </div>
                        <h3><a href="#">Web Development</a></h3>
                        <p>Web development refers to putting together website and deploying on the online . Web development requires use of scripting languages both at the server end also as at client end.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="single-ml-services-box">
                        <div class="image">
                            <img src="assets/img/services-image/4.png" alt="image">
                        </div>
                        <h3><a href="#">Internet of Things</a></h3>
                        <p>The IoT integrates the interconnectedness of human culture -- our 'things' -- with the interconnectedness of our digital data system</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="single-ml-services-box">
                        <div class="image">
                            <img src="assets/img/services-image/5.png" alt="image">
                        </div>
                        <h3><a href="#">Flutter App Development</a></h3>
                        <p>Flutter will assist you save cost, time and energy . Our flutter app development offers you applications that run on mobile, web and desktop employing a single codebase.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="single-ml-services-box">
                        <div class="image">
                            <img src="assets/img/download/digital_re.jpg" alt="image">
                        </div>
                        <h3>
                            <a href="#"> Digital Marketing</a></h3>
                        <p>Digital Marketing advertising delivered through digital platforms like social media, mobile applications, email, web applications, search engines, websites, or any new digital channel.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div>
    <!-- End ML Services Area -->


    <%- include('footer') %>