<%- include('header'); -%>


    <!-- Start Agency Main Banner -->
    <div class="agency-main-banner">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6 col-md-12">
                    <div class="agency-banner-content">
                        <span class="sub-title">We are creative</span>
                        <h1>UI/UX Designing</h1>
                        <p>A UI/UX designer's job is to create basic interfaces that allow customers to recognize how to use complicated technical products. If you are passionate about the brand new technological know-how tendencies and devices, you may
                            discover brilliant achievement in being concerned in the format method for the subsequent warm gadget.</p>
                        <a href="#" class="btn btn-secondary">Get Started</a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="agency-banner-image mt-5">
                        <img src="assets/img/agency-image/banner-img.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>

        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>

        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>

    </div>
    <!-- End Agency Main Banner -->

    <!-- Start Our Solutions Area -->
    <div class="solutions-area ptb-80">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">What We Offer</span>
                <h2>Designing User Interfaces for Users
                </h2>
                <div class="bar"></div>
                <p>User interfaces are the get entry to factors the place customers engage with designs. They come in three formats:
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="solutions-box">
                        <div class="icon">
                            <i class="bx bx-landscape"></i>
                            <img src="assets/img/agency-image/icon-bg.png" alt="image">
                        </div>

                        <h3><a href="#">Graphical user interfaces (GUIs)</a></h3>
                        <p>Users have interaction with visible representations on digital manage panels. A computer’s laptop is a GUI.</p>
                        <a href="#" class="learn-more-btn"><i data-feather="plus-circle"></i> Learn More</a>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="solutions-box">
                        <div class="icon">
                            <i class="bx bx-bar-chart-alt"></i>
                            <img src="assets/img/agency-image/icon-bg.png" alt="image">
                        </div>

                        <h3><a href="#">Voice-controlled interfaces (VUIs)</a></h3>
                        <p>Users engage with these via their voices. Most clever assistants—e.g., Siri on iPhone and Alexa on Amazon devices—are VUIs.</p>
                        <a href="#" class="learn-more-btn"><i data-feather="plus-circle"></i> Learn More</a>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="solutions-box">
                        <div class="icon">
                            <i class="bx bx-devices"></i>
                            <img src="assets/img/agency-image/icon-bg.png" alt="image">
                        </div>

                        <h3><a href="#">Gesture-based interfaces</a></h3>
                        <p>Users interact with 3D graph areas via bodily motions.</p>
                        <a href="#" class="learn-more-btn"><i data-feather="plus-circle"></i> Learn More</a>
                    </div>
                </div>

                <!-- <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="solutions-box">
                        <div class="icon">
                            <i class="bx bx-chalkboard"></i>
                            <img src="assets/img/agency-image/icon-bg.png" alt="image">
                        </div>

                        <h3><a href="#">Branding & Marketing</a></h3>
                        <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                        <a href="#" class="learn-more-btn"><i data-feather="plus-circle"></i> Learn More</a>
                    </div>
                </div> -->
            </div>
        </div>

        <div class="shape9 wow fadeInLeft slow"><img src="assets/img/agency-image/shape1.png" alt="image"></div>
    </div>
    <!-- End Our Solutions Area -->

    <!-- Start About Area -->
    <div class="agency-about-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="agency-about-img">
                        <img src="assets/img/agency-image/about-img.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="agency-about-content">
                        <span class="sub-title">About Us</span>
                        <h2>Engaging New Audiences Through Smart Approach</h2>
                        <div class="bar"></div>
                        <p>We furnish UI/UX design, augmentation and steady iterative diagram improvements. The technique is noticeably worried and requires deep collaboration on each sides.</p>
                        <p>UI diagram and UX plan contain very extraordinary ability sets, however they are crucial to each other’s success. A stunning diagram can’t keep an interface that’s clunky and complicated to navigate, and a brilliant, perfectly-appropriate
                            consumer ride can be sunk through terrible visible interface layout that makes the usage of the app unpleasant. Both UI and UX designs want to be flawlessly achieved and flawlessly aligned with pre-existing person expectations
                            to create an extremely good consumer interface/experience. And when these stars align the effects can be astounding.</p>

                        <a href="#" class="btn btn-secondary">Discover More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape10"><img src="assets/img/agency-image/shape2.png" alt="image"></div>
    </div>
    <!-- End About Area -->

    <!-- Start Blog Area -->
    <!-- <div class="blog-area ptb-80">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">News</span>
                <h2>The News from Our Blog</h2>
                <div class="bar"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post-item">
                        <div class="post-image">
                            <a href="#">
                                <img src="assets/img/blog-image/1.jpg" alt="image">
                            </a>
                        </div>

                        <div class="post-content">
                            <ul class="post-meta">
                                <li><a href="#">Admin</a></li>
                                <li>August 15, 2019</li>
                            </ul>
                            <h3><a href="#">The security risks of changing package owners</a></h3>
                            <a href="#" class="read-more-btn">Read More <i data-feather="plus-circle"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post-item">
                        <div class="post-image">
                            <a href="#">
                                <img src="assets/img/blog-image/2.jpg" alt="image">
                            </a>
                        </div>

                        <div class="post-content">
                            <ul class="post-meta">
                                <li><a href="#">Admin</a></li>
                                <li>August 15, 2019</li>
                            </ul>
                            <h3><a href="#">Tips to Protecting Your Business and Family</a></h3>

                            <a href="#" class="read-more-btn">Read More <i data-feather="plus-circle"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                    <div class="single-blog-post-item">
                        <div class="post-image">
                            <a href="#">
                                <img src="assets/img/blog-image/3.jpg" alt="image">
                            </a>
                        </div>

                        <div class="post-content">
                            <ul class="post-meta">
                                <li><a href="#">Admin</a></li>
                                <li>August 15, 2019</li>
                            </ul>
                            <h3><a href="#">Protect Your Workplace from Cyber Attacks</a></h3>

                            <a href="#" class="read-more-btn">Read More <i data-feather="plus-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div> -->
    <!-- End Blog Area -->

    <!-- Start CTA Area -->
    <!-- <div class="agency-cta-area ptb-80">
        <div class="container">
            <div class="agency-cta-content">
                <h2>Do you have any projects?</h2>
                <a href="#" class="btn btn-gradient">Contact Us</a>
            </div>
        </div>
    </div> -->
    <!-- End CTA Area -->

    <%- include('footer'); -%>