<%- include('header') %>


    <!-- Start Page Title -->
    <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h2>WordPress Web Development</h2>
                </div>
            </div>
        </div>

        <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
        <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
        <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    </div>
    <!-- End Page Title -->

    <!-- Start Blog Details Area -->
    <div class="blog-details-area ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="blog-details-desc">
                        <div class="article-image">
                            <img src="assets/img/blog-image/1.jpg" alt="image">
                        </div>

                        <div class="article-content">
                            <div class="entry-meta">
                                <ul>
                                    <li><i data-feather="clock"></i> <a href="#">April 11, 2021</a></li>
                                    <li><i data-feather="user"></i> <a href="#">Aniket Khanna</a></li>
                                </ul>
                            </div>

                            <h3>Wordpress is Free and Open Source</h3>

                            <p>WordPress is a free, open-source internet site advent platform. On a extra technical level, WordPress is a content material administration gadget (CMS) written in PHP that makes use of a MySQL database. In non-geek speak, WordPress
                                is the easiest and most effective running a blog and internet site builder in existence today.
                            </p>

                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p> -->

                            <blockquote class="wp-block-quote">
                                <p>Themes alter your site's sketch and visible style, whilst plugins add all types of facets and functionality.</p>

                                <cite>Tom Cruise</cite>
                            </blockquote>
                            <!-- Start ML Services Area -->
                            <div class="ml-services-area ptb-80">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12 col-md-6">
                                            <div class="single-ml-services-box">
                                                <div class="image">
                                                    <img src="assets/img/services-image/1.png" alt="image">
                                                </div>
                                                <h3><a href="#">Wordpress Themes</a></h3>
                                                <p>A theme is the inferred stance taken on the central theme or message of a story.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-sm-12 col-md-6">
                                            <div class="single-ml-services-box">
                                                <div class="image">
                                                    <img src="assets/img/services-image/2.png" alt="image">
                                                </div>
                                                <h3><a href="#">Wordpress Plugins</a></h3>
                                                <p>A plugin is a piece of software program containing a crew of features that can be introduced to a WordPress website.</p>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
                                <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
                                <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
                                <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
                                <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
                                <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
                                <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
                            </div>
                            <!-- End ML Services Area -->

                            <h3>Why Should You Use WordPress?
                            </h3>
                            <p>Ok, so over 40.0% of all the web sites on the Internet are the use of WordPress, inclusive of conventional entities like the White House and Microsoft. One of the largest advantages of WordPress is that it’s free, open-source
                                software. While you will want to pay a little bit for hosting, you will by no means have to pay simply to use the WordPress software.
                            </p>

                            <!-- <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>

                            <ul class="wp-block-gallery columns-3">
                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img src="assets/img/blog-image/8.jpg" alt="image">
                                    </figure>
                                </li>

                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img src="assets/img/blog-image/7.jpg" alt="image">
                                    </figure>
                                </li>

                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img src="assets/img/blog-image/9.jpg" alt="image">
                                    </figure>
                                </li>
                            </ul>

                            <h3>Four major elements that we offer:</h3>

                            <ul class="features-list">
                                <li><i data-feather="check"></i> Scientific Skills For getting a better result</li>
                                <li><i data-feather="check"></i> Communication Skills to getting in touch</li>
                                <li><i data-feather="check"></i> A Career Overview opportunity Available</li>
                                <li><i data-feather="check"></i> A good Work Environment For work</li>
                            </ul> -->

                            <!-- <h3>Setting the mood with incense</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                            <h3>The Rise Of Smarketing And Why You Need It</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p> -->
                        </div>






                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- End Blog Details Area -->

    <%- include('footer') %>